.full-width-table {
    width: 100%;
}

.margin-all {
    margin: 5px;
}
.rules-div {
    margin-top: 2%;
    width: 50%;
    height: 80%;
    margin-left:25%;
    margin-right:25%;
    background: #424242;
    padding: 30px;
}

.startingDate, .endingDate{
  display: none;
  color: red;
  font-weight: bolder;
}

.rules-form {
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    align-self: center;
}

.rules-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.margin-top {
    margin-top: 30px;
}

a {
    font-weight: bold;
    color: #00ACC1;
}

a:hover {
    color: white;
    cursor: pointer;
}
