<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Upload Blueprint</ng-template>
            <input #blueprintFile type="file" formControlName="firstCtrl" required/>
            <div class="margin-top">
                <button mat-raised-button matStepperNext color="primary" class="margin-all">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Upload NSDs</ng-template>
            <input #nsdFiles type="file" formControlName="secondCtrl" required/>
            <div class="margin-top">
                <button mat-raised-button matStepperPrevious color="primary" class="margin-all">Back</button>
                <button mat-raised-button matStepperNext color="primary" class="margin-all">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup" class="rules-form">
            <ng-template matStepLabel>Create Translation Rules</ng-template>
            <table class="rules-full-width" cellspacing="0">
                <tr>
                    <td>
                        <h4>NSD</h4>
                        <mat-form-field appearance="outline" color=primary class="rules-full-width">
                            <input matInput #nsdId placeholder="NSD Id" formControlName="nsdId" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color=primary class="rules-full-width">
                            <input matInput #nsdVersion placeholder="NSD Version" formControlName="nsdVersion" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color=primary class="rules-full-width">
                            <input matInput #nsFlavourId placeholder="NS Flavour Id" formControlName="nsFlavourId" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color=primary class="rules-full-width">
                            <input matInput #nsInstLevel placeholder="NS Instantiation Level Id" formControlName="nsInstLevel" required>
                        </mat-form-field>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <h4>Parameters</h4>
                    <div formArrayName="items" *ngFor="let item of thirdFormGroup.get('items').controls; let i=index">
                        <div [formGroupName]="i">                        
                            <h5>Param {{i + 1}}</h5>
                            <td>
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <input matInput placeholder="Parameter Id" required formControlName="parameterId">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <input matInput placeholder="Min Value" required formControlName="minValue">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <input matInput placeholder="Max Value" required formControlName="maxValue">
                                </mat-form-field>
                            </td>
                        </div>
                    </div>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div>
                            <button mat-fab (click)="removeItem();" *ngIf="items?.length > 1" color="primary"><mat-icon>remove</mat-icon></button>
                        </div>
                    </td>
                    <td>
                        <div>
                            <button mat-fab (click)="addItem();" color="primary"><mat-icon>add</mat-icon></button>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="margin-top">
                <button mat-raised-button matStepperPrevious color="primary" class="margin-all">Back</button>
                <button mat-raised-button (click)="stepper.reset()" color="accent" class="margin-all">Reset</button>
                <button mat-raised-button color="warn" class="margin-all" (click)="createOnBoardVsBlueprintRequest(blueprintFile.files,nsdFiles.files);">Submit</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>
