.full-width-table {
    margin-top: 2%;
    width: 60%;
    height: 80%;
    margin-left:20%;
    margin-right:20%;
}

.rules-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    align-self: center;
}

.rules-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.margin-top {
    margin-top: 30px;
}

.margin-all {
    margin: 10px;
}
