@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$eve-portal-theme-primary: mat-palette($mat-gray, 900);
$eve-portal-theme-accent:  mat-palette($mat-deep-orange);
$eve-portal-theme-warn:    mat-palette($mat-cyan);
// Create the theme object (a Sass map containing all of the palettes).
$eve-portal-theme: mat-light-theme($eve-portal-theme-primary, $eve-portal-theme-accent, $eve-portal-theme-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($eve-portal-theme);