.full-width-table {
  width: 100%;
}
  
.margin-all {
  margin: 5px;
}
  
/*.mat-header-cell:first-child,.mat-cell:first-child{
  flex:5%;
}

.mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
  flex:10%;
}

.mat-header-cell:nth-child(3),.mat-cell:nth-child(3){
  flex:20%;
}

.mat-header-cell:nth-child(4),.mat-cell:nth-child(4){
  flex:15%;
}

.mat-header-cell:nth-child(5),.mat-cell:nth-child(5){
  flex:30%;
}

.mat-header-cell:last-child,.mat-cell:last-child {
  flex:10%
}*/

.rules-form {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  align-self: center;
}
  
.rules-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.margin-top {
  margin-top: 30px;
}
  