.full-width-table {
  width: 60%;
}
  
.margin-all {
  margin: 5px;
}

.mat-header-cell:first-child,.mat-cell:first-child{
  flex:25%;
}
.mat-header-cell:last-child,.mat-cell:last-child{
  flex:75%
}
