.data-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
}
  
.data-full-width {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

td {
    padding-right: 8px;
}

.margin-top {
    margin-top: 30px;
}

.margin-all {
    margin: 10px;
}

.input-label {
    font-style: oblique;
    font-weight: bold; 
    display: block; 
    width: 100px; 
    float: left;
}