.sidenav-container {
  height: 100%;
  /*background-color: #212121;*/
  /*background-image: linear-gradient(grey, #212121);*/
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.title a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.margin-right {
  margin-right: 3%;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.footer-box{
  width: 90%;
  background-color: #212121;
  box-shadow:none;
}

.icon_social{
  width: 50px;
  height: 50px;
  margin-top:-6px;

}

.icon_social_link{
  color:white;
  text-decoration: none;
  display: inline-flex;
}

.footer-copyright{
  overflow:hidden;
  color:rgba(255,255,255,.6)
}

.footer_cols{
  text-align: left;
  word-wrap: break-word;
  vertical-align: middle;
}

.footer_cols a{
  color: white;
  text-decoration: none;
}

.text_in_footer{
  white-space: pre-wrap !important;
  justify-content: center;
  text-justify: inter-word;
  font-size: 13px;
}

.logo_footer{
  float:left;
  margin-right: 10px;
  margin-bottom:-10px;

}

.main_logo_footer{
  height: auto;
}

body {
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width:100%;
  height: 50px;
  z-index: 1000;
}

