.sidenav-container {
  height: 100%;
  /*background-color: #212121;*/
  /*background-image: linear-gradient(grey, #212121);*/
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 50;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.title a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
