.full-width-table {
  margin-top: 2%;
  width: 80%;
  height: 80%;
  margin-left:10%; 
  margin-right:10%;
}

.margin-all {
  margin: 5px;
}

a {
  font-weight: bold;
  color: #00ACC1;
}

a:hover {
  color: white;
  cursor: pointer;
}
