<app-catalogue-sub-toolbar></app-catalogue-sub-toolbar>
<mat-toolbar style="background: transparent;">
    <span style="margin-left: 15px;"><h1 class="mat-h1">Vertical Service Blueprint Details</h1></span>
</mat-toolbar>
<div style="float: left; width: 48%; margin: 1%">
  <div style="background: transparent; padding:30px; padding-bottom: 10%;" >
        <table mat-table matSort aria-label="Elements" class="full-width-table" width="100%">
            <!-- KEY Column -->
            <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Field</th>
                <td mat-cell *matCellDef="let row"><b>{{row.key}}</b></td>
            </ng-container>

            <!-- ExpD Column -->
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Value</th>
                <td mat-cell *matCellDef="let row" ><tr *ngFor="let param of row.value"><td class="margin-all">{{param}}</td></tr></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>
<mat-divider [vertical]="true"></mat-divider>
<div style="float: left; width: 48%; margin: 1%">
  <div style="background: transparent; padding:30px; padding-bottom: 10%;" >
        <app-blueprints-graph [elements]="vsbDetailservice.graphData" [layout]="layout" (select)="nodeChange($event)"></app-blueprints-graph>
        <div style="padding-top: 30px;"><p><b>Selected Node: </b>{{node_name}}</p></div>
    </div>
</div>


