.full-width-table {
  margin-top: 2%;
  width: 80%;
  height: 70%;
  margin-left:10%;
  margin-right:10%;
}

.margin-all {
  margin: 5px;
}

a {
  font-weight: bold;
  color: #f0a30a;
}

a:hover {
  color: white;
  cursor: pointer;
}

.grid-table {
  margin-top: 2%;
  width:50%;
  height: 80%;
  margin-left:25%;
  margin-right:25%;
}
