<mat-horizontal-stepper [linear]="isLinear" #stepper class="full-width-table">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Upload Blueprint</ng-template>
            <input #blueprintFile type="file" formControlName="firstCtrl" (change)="onUploadedCtxb($event,blueprintFile.files)" required/>
            <div class="margin-top">
                <button mat-raised-button matStepperNext color="primary" class="margin-all">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Upload NSDs</ng-template>
            <input #nsdFiles type="file" formControlName="secondCtrl" (change)="onUploadedNsd($event,nsdFiles.files)" required/>
            <div class="margin-top">
                <button mat-raised-button matStepperPrevious color="primary" class="margin-all">Back</button>
                <button mat-raised-button matStepperNext color="primary" class="margin-all">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup" class="rules-form">
            <ng-template matStepLabel>Create Translation Rules</ng-template>
            <table class="rules-full-width" cellspacing="0">
                <tr>
                    <td>
                        <h4>NSD</h4>
                        <mat-form-field appearance="outline" color=primary class="rules-full-width">
                            <input matInput id="nsdId" placeholder="NSD Id" required formControlName="nsdId">
                        </mat-form-field>
                        <mat-form-field appearance="outline" color=primary class="rules-full-width">
                            <input matInput id="nsdVersion" placeholder="NSD Version" required formControlName="nsdVersion">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="rules-full-width">
                            <mat-label>NS Flavour Id</mat-label>
                            <mat-select formControlName="nsFlavourId" name="nsFlavourId" required (selectionChange)="onNsDfSelected($event);">
                                <mat-option *ngFor="let df of dfs" [value]="df.nsDfId">
                                    {{df.nsDfId}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--mat-form-field appearance="outline" color=primary class="data-full-width">
                            <input matInput id="nsFlavourId" placeholder="NS Flavour Id" required formControlName="nsFlavourIdCtrl">
                        </mat-form-field-->
                        <mat-form-field appearance="outline" class="rules-full-width">
                            <mat-label>NS Instantiation Level Id</mat-label>
                            <mat-select formControlName="nsInstLevel" name="nsInstLevel" required>
                                <mat-option *ngFor="let instLevel of instLevels" [value]="instLevel.nsLevelId">
                                    {{instLevel.nsLevelId}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--mat-form-field appearance="outline" color=primary class="data-full-width">
                            <input matInput id="nsInstLevel" placeholder="NS Instantiation Level Id" required formControlName="nsInstLevelIdCtrl">
                        </mat-form-field-->
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <h4>Parameters</h4>
                    <div formArrayName="items" *ngFor="let item of thirdFormGroup.get('items').controls; let i=index">
                        <div [formGroupName]="i">
                            <h5>Param {{i + 1}}</h5>
                            <td>
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <mat-label>Parameter Id</mat-label>
                                    <mat-select formControlName="parameterId">
                                        <mat-option *ngFor="let param of translationParams" [value]="param.parameterId">
                                            {{param.parameterId}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <input matInput placeholder="Min Value" required formControlName="minValue">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <input matInput placeholder="Max Value" required formControlName="maxValue">
                                </mat-form-field>
                            </td>
                        </div>
                    </div>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div>
                            <button mat-fab (click)="removeItem();" *ngIf="items?.length > 1" color="primary"><mat-icon>remove</mat-icon></button>
                        </div>
                    </td>
                    <td>
                        <div>
                            <button mat-fab (click)="addItem();" color="primary"><mat-icon>add</mat-icon></button>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="margin-top">
                <button mat-raised-button matStepperPrevious color="primary" class="margin-all">Back</button>
                <button mat-raised-button (click)="stepper.reset()" color="warn" class="margin-all">Reset</button>
                <button mat-raised-button color="accent" class="margin-all" (click)="createOnBoardCtxBlueprintRequest(blueprintFile.files,nsdFiles.files);">Submit</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>
