<div style="background: transparent; padding-bottom: 10%; min-height: auto;">
   <mat-expansion-panel class="rules-div" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
              User Login
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="loginFormGroup" class="rules-form">
            <h2 class="mat-h2">Login</h2>
            <mat-form-field appearance="outline" color=primary class="rules-full-width">
                <mat-label>Username</mat-label>
                <input matInput #username placeholder="Username" formControlName="username" required>
            </mat-form-field>
            <mat-form-field appearance="outline" color=primary class="rules-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="margin-top">
                <button mat-raised-button color="accent" class="margin-all" (click)="login();">Submit</button>
            </div>
        </form>
    </mat-expansion-panel>
    <mat-expansion-panel class="rules-div">
        <mat-expansion-panel-header>
            <mat-panel-title>
              User Registration
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form class="rules-form" [formGroup]="registrationFormGroup">
            <h2 class="mat-h2">Register</h2>
            <mat-form-field appearance="outline" color=primary class="rules-full-width">
                <mat-label>Email address</mat-label>
                <input  matInput  formControlName="email" placeholder="Email address"  name="fname"  required>
            </mat-form-field>

            <mat-form-field appearance="outline" color=primary class="rules-full-width">
                <mat-label>Username</mat-label>
                <input  matInput  formControlName="regUsername" placeholder="Username"  name="fname"  required>
            </mat-form-field>

            <mat-form-field appearance="outline" color=primary class="rules-full-width">
                <mat-label>First Name</mat-label>
                <input  matInput  formControlName="firstName" placeholder="First Name"  name="fname"  required>
            </mat-form-field>

            <mat-form-field appearance="outline" color=primary class="rules-full-width">
                <mat-label>Last Name</mat-label>
                <input  matInput  formControlName="lastName" placeholder="Last Name"  name="fname"  required>
            </mat-form-field>

            <mat-form-field appearance="outline" color=primary class="rules-full-width">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" placeholder="Select a role" name="assignedTo" [(value)]="assignedTo" required>
                    <mat-option *ngFor="let role of roles" [value]="role" >{{ role.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" color=primary class="rules-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="regPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div class="margin-top">
                <button mat-raised-button color="accent" class="margin-all" (click)="register();">Submit</button>
            </div>
        </form>
    </mat-expansion-panel>
    <!-- <div class="registration-div">

    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="rules-div">
    </div>
  -->


</div>
